/*
___.              .___      
\_ |__   ____   __| _/__.__.
 | __ \ /  _ \ / __ <   |  |
 | \_\ (  <_> ) /_/ |\___  |
 |___  /\____/\____ |/ ____|
     \/            \/\/     
     */
body {
  font-family: 'Open Sans', sans-serif !important;
  /*background-color: rgba(225, 211, 179, 0.25);*/
  background-color: white;
  margin: 0;
}

a {
  color: #00B7FF;
}



/*
  _           _   _                  
 | |         | | | |                 
 | |__  _   _| |_| |_ ___  _ __  ___ 
 | '_ \| | | | __| __/ _ \| '_ \/ __|
 | |_) | |_| | |_| || (_) | | | \__ \
 |_.__/ \__,_|\__|\__\___/|_| |_|___/
                                     
*/
.btn-group .button {
    background-color: #E74549;
    color: white;
    cursor: pointer;
    float: left;
    height: 3em;
    font-weight: 300;
    outline: none;
    width: 31%;
    text-align: center;
    line-height: 49px;
    max-width: 300px;
    padding: 2px;
}

/*.btn-group .button:not(:last-child) {
    border-right: none;
}
*/
/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/*rounded corners*/
.btn-group .button:first-child {
    border-radius: 5000px 0 0 5000px;
}
.btn-group .button:last-child {
    border-radius: 0 5000px 5000px 0;
}

/*main window placeholder*/
.content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 100;
}

#buttons-container {
    position: fixed;
    width: 80%;
    margin: 5% 10% 0 10%;
    left: 0;
    top: 0;
    z-index: 200;
}

.highlighted {
    background-color: white !important;
    color: #f74c4c !important;
}

#info-iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
}

.export-button {
    position: absolute;
    width: 100px;
    height: auto;
    background: #e74549;
    right: 10px;
    top: 100px;
    border-radius: 150px;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: 600;
    text-decoration: none;
}
.export-button:hover {
  background: white;
  color: #e74549;
  border: 1px solid #e74549;
}


div#button-info:hover {
    background: white;
    /*color: #e74549;*/
    /*border: 1px solid #e74549;*/
    padding: 1px;
}
div#button-kart:hover {
    /*background: #e74549;*/
    /*color: white;*/
    /*background: white;*/
    /*color: #e74549;*/
    /*border: 1px solid #e74549;*/
    height: 46px;
    padding-left: 1px;
    padding-right: 1px;
    line-height: 47px;
}
div#button-media:hover {
    background: white;
    /*color: #e74549;*/
    /*border: 1px solid #e74549;*/
    padding: 1px;
}


.admin-media-container {
    margin: 0 auto;
    text-align: left;
    width: 75%;
    position: relative;
    top: 20%;
    padding: 20px;
}
input.hashtag-input {
    height: 2em;
    font-size: 1em;
    padding: 10px;
    width: calc(100% - 44px);
    margin: 10px;
}

.admin-media-save-btn {
    position: relative;
    width: 100px;
    height: auto;
    background: #e74549;
    right: 10px;
    border-radius: 150px;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
    cursor: pointer;
}
.admin-media-save-btn:hover {
  background: white;
  color: #e74549;
  border: 1px solid #e74549;
}
label.hashtag-label {
    margin-left: 20px;
}

.social-media-admin-feed {
    position: relative;
    top: 20%;
    width: 75%;
    margin: 0 auto;
}
.admin-post-wrapper {
    height: 60px;
    padding: 0;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
}
img.admin-post-image-img {
    width: 50px;
    height: 50px;
    float: left;
}
.admin-post-text {
    width: 300px;
    padding: 10px;
    margin-left: 0px;
    float: left;
    overflow: hidden;
    font-size: 12px;
    height: 30px;
}
.admin-post-user {
    width: 100px;
    padding: 10px;
    float: left;
    font-size: 12px;
}
.admin-post-filter {
    padding: 10px;
    float: left;
}
.filtered-post {
  opacity: 0.2;
}
.social-media-admin-header {
    font-size: 20px;
    padding: 20px;
    margin-left: calc(12.5% - 30px);
    margin-top: 30px;
}

/*
  _           _                                  
 (_)         | |                                 
  _ _ __  ___| |_ __ _  __ _ _ __ __ _ _ __ ___  
 | | '_ \/ __| __/ _` |/ _` | '__/ _` | '_ ` _ \ 
 | | | | \__ \ || (_| | (_| | | | (_| | | | | | |
 |_|_| |_|___/\__\__,_|\__, |_|  \__,_|_| |_| |_|
                        __/ |                    
                       |___/                     
*/
.i-wrapper {
    background: white;
    padding-bottom: 50px;
}
.i-wrapper:first-child {
    margin-top: 90px;

}
.i-image {
}
.i-image img {
    height: 100%;
    width: 100%;
}
.i-caption {
    padding: 10px;
    overflow: hidden;
    color: #2c2c2c;
    word-break: break-word;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
}
.instagram-content {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    max-width: 400px;
}
.i-date {
    font-size: 12px;
    font-weight: 600;
    color: grey;
    padding: 5px;
}

.i-avatar {
}
.i-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 500px;
}
.i-avatar-img {
    float: left;
    width: 40px;
    height: 40px;
    padding: 10px;
}
.i-user {
    float: left;
    vertical-align: middle;
    line-height: 60px;
    font-weight: 600;
    font-size: 14px;
}
.i-likes-count {
    padding-left: 5px;
    float: left;
    font-size: 14px;
    font-weight: 700;
}
.i-likes {
    padding-left: 20px;
}

                        
/*                  
  _ __ ___   __ _ _ __  
 | '_ ` _ \ / _` | '_ \ 
 | | | | | | (_| | |_) |
 |_| |_| |_|\__,_| .__/ 
                 | |    
                 |_|    
*/
#map {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0; bottom:0; 
    width:100%; 
}

/*helper*/
.float-left {
    float: left;
}

a.mapboxgl-ctrl-logo {
    display: none !important;
}





/*
.__                        
|  |   ____   ____   ____  
|  |  /  _ \ / ___\ /  _ \ 
|  |_(  <_> ) /_/  >  <_> )
|____/\____/\___  / \____/ 
           /_____/         
*/

#site-logo {
    z-index: 300;
    position: fixed;
}

/*#site-logo img {
    height: 110px;
}*/

/*site footer*/
#site-footer {
    z-index: 300;
    position: fixed;
    bottom: 0px;
    padding-bottom: 5px;
    font-size: 10px;
    font-weight: 200;
    font-style: italic;
    right: 0px;
    padding-right: 10px;
}
#site-footer a {
    color: black;
}




/*            .___      .__        
_____     __| _/_____ |__| ____  
\__  \   / __ |/     \|  |/    \ 
 / __ \_/ /_/ |  Y Y  \  |   |  \
(____  /\____ |__|_|  /__|___|  /
     \/      \/     \/        \/ 
*/

#site-logo-admin {
    z-index: 300;
    position: fixed;
}

#site-logo-admin img {
    height: 110px;
    background: rgba(255, 255, 255, .7);
    border-radius: 0 0 50px 50px;
}

.admin-info-text {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
}

/*
.__                .__        
|  |   ____   ____ |__| ____  
|  |  /  _ \ / ___\|  |/    \ 
|  |_(  <_> ) /_/  >  |   |  \
|____/\____/\___  /|__|___|  /
           /_____/         \/ 
*/

.login-page {
  width: 360px;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Open Sans", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form input.button {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #89AE4D;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form input.button:hover, .form input.button:active, .form input.button:focus {
  background: #9CD6E5;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
#login-container {
  background: #E74549; /* fallback for old browsers */
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;     
  width: 100%;
  height: 100%;
  position: absolute; 
}

.login-logo {
    text-align: center;
    margin: 60px;
}




                                         
/*______   ____ ______  __ ________  ______
\____ \ /  _ \\____ \|  |  \____ \/  ___/
|  |_> >  <_> )  |_> >  |  /  |_> >___ \ 
|   __/ \____/|   __/|____/|   __/____  >
|__|          |__|         |__|       \/ 

*/
.mapboxgl-popup-content {
    padding: 0 !important;
    border-radius: 5px 10px 10px 5px;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #525252;

}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: white;
}
.notes-popup {
    padding: 0;
    background: white;
    width: 350px;
    height: 148px;
    -webkit-box-shadow: 17px 18px 60px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 17px 18px 60px -19px rgba(0,0,0,0.75);
    box-shadow: 17px 18px 60px -19px rgba(0,0,0,0.75);
    color: black;
    font-family: 'Open Sans';
    border-radius: 10px;
}
.notes-users {
  position: absolute;
    left: 150px;
    top: 120px;
}
.notes-tags {
    position: absolute;
    left: 150px;
    top: 60px;
}
.notes-text {
    position: relative;
    font-size: 13px;
    max-height: 60px;
    overflow: hidden;
    line-height: 15px;
    margin-top: 5px;
    color: #353535;
}
.notes-image {
    padding: 0;
    top: 0;
    left: 0;
    position: absolute;
    width: 148px;
    height: 148px;
    overflow: hidden;
    background: #e74549;
    background-image: url(stor-blomst.png);
    background-size: 130px 130px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 5px 0 0 5px;
}
.empty-preview {
    background-image: url(stor-blomst.png);
    background-size: 130px 130px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: rgb(231, 69, 73);
}
.notes-image img {
    max-height: 150px;
    min-height: 150px;
    min-width: 150px;
    object-fit: contain;
    background: white;
}
.notes-read-more {
    position: absolute;
    bottom: 5px;
    right: 70px;
    font-weight: 600;
    /*color: #e74549;*/
    text-align: center;
    bottom: 0px;
    background: white;
    right: -1px;
    height: 12px;
    border-radius: 10px 0px 10px 0;
    padding: 15px;
    border: 1px solid gainsboro;
    padding-bottom: 12px;
    padding-top: 6px;
    font-size: 13px;
    cursor: pointer;
}
.edit-own-note-btn {
    border: 1px solid white;
    width: auto;
    position: absolute;
    padding: 8px;
    top: 10px;
    right: 50px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.edit-own-note-btn:hover {
    background: white;
    color: #e74549;
}
.notes-read-more:hover {
    background: #e74549;
    color: white;
    border: 1px solid #e74549;
}
.notes-read-more:active {
    background: #e74549;
    color: white;
    border: 1px solid #e74549;
}
.notes-read-more:focus {
    background: #e74549;
    color: white;
    border: 1px solid #e74549;
}
.notes-address {
    height: 18px;
    line-height: 17px;
    font-size: 11px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    color: #676767;
}
i.fa.fa-map-marker {
    padding-right: 4px;
    padding-left: 0px;
    color: #E74549;
    font-size: 16px;
}

.notes-right-wrapper {
    position: absolute;
    height: 100%;
    width: 56%;
    left: 148px;
    margin-left: 5px;
}
.notes-title {
    font-size: 16px;
    /*color: #e74549;*/
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 5px;
    position: relative;
    text-align: left;
    margin-bottom: 5px;
    max-height: 20px;
    overflow: hidden;
}
/*               __                 
  ____   _____/  |_  ____   ______
 /    \ /  _ \   __\/ __ \ /  ___/
|   |  (  <_> )  | \  ___/ \___ \ 
|___|  /\____/|__|  \___  >____  >
     \/                 \/     \/ 
*/
.add-button {
    width: 90px;
    height: 90px;
    position: fixed;
    bottom: 50px;
    left: calc(50% - 27px);
    background-image: url(mappin.png);
    cursor: pointer;
    background-position: 10px 31px;
    z-index: 11;
    transition: bottom 0.5s ease-in-out 0s;
    background-size: 35px;
    background-repeat: no-repeat;
}
.add-button.center-of-map {
  pointer-events: none;
}
.shadow-button {
    width: 90px;
    height: 90px;
    position: fixed;
    bottom: 35px;
    left: calc(50% - 45px);
    /*background: rgba(231, 69, 73, 0.83);*/
    z-index: 3;
    border-radius: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 85px;
    color: rgba(255, 255, 255, 0);
    font-size: 30px;
}

.color-white {
  color: white;
}

.red-button:hover + .white-button {
    background: rgba(255, 255, 255, 0.8);
}
.red-button:hover {
    background-image: url(mappin.png);
    color: yellow;
}


.center-of-map {
    position: fixed;
    bottom: calc(50% - 5px);
}

.center-help {
    position: fixed;
    top: calc(50% - 110px);
    left: calc(50% - 130px);
    height: auto;
    width: 220px;
    color: white;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

.geo-marker-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    text-align: center;
}

.geo-marker {
    width: 60px;
    height: 60px;
    background-color: white;
    mask: url(noun_5624_cc.svg) no-repeat;
    mask-size: 60px;
    -webkit-mask: url(noun_5624_cc.svg) no-repeat;
    -webkit-mask-size: 60px;
    top: -70px;
    left: -35px;
    position: absolute;
    opacity: 1;
    border-radius: 40px;
}
.geo-marker-text {
    width: 200px;
    bottom: 90px;
    padding: 20px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    background: rgba(231, 69, 73, 0.9);
    position: absolute;
    height: auto;
    text-align: center;
    left: -120px;
}
.geo-marker-text:hover {
    background: rgba(255, 255, 255, 0.9);
    color: #e74549;
}

.accept-geo-button {
    width: 80px;
    height: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: white;
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
.accept-geo-button:hover {
    background: #89AE4D;
    color: white;
}

.write-note-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background: white;
  z-index: 500;
}

.write-note-address-container {
  text-align: left;
}

.write-note-content {
    width: 50%;
    position: relative;
    margin-left: 25%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 25%;
    background: white;
    height: auto;
    padding-bottom: 10px;

}

.write-note-title {
    font-size: 2em;
    font-weight: 600;
    padding: 10px 10px 10px 0;
}

.write-note-address {
    font-size: 1em;
    font-weight: 200;
    font-style: italic;
    padding: 10px 10px 10px 0;
    height: 2em;
}

.write-note-photo-button {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.write-note-photo-button + label {
    font-size: 1.25em;
    font-weight: 400;
    color: white;
    background-color: #FCC149;
    display: inline-block;
    height: 1.25em;
    width: auto;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
}

.write-note-address-text-div {
    position: absolute;
    left: 40px;
    top: 80px;
    color: #5d5d5d;
}

.write-note-photo-button:focus + label,
.write-note-photo-button + label:hover {
    background-color: red;
}
.write-note-photo-button + label {
  cursor: pointer; /* "hand" cursor */
}

.write-note-photo-button:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.write-note-photo-button + label * {
  pointer-events: none;
}
.write-note-explanation {
    height: 100px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    padding: 20px;
}

input.write-note-text {
    height: 2em;
    font-size: 1em;
    padding: 10px;
    width: calc(100% - 44px);
    margin: 10px;
}
textarea.write-note-textarea {
    height: 2em;
    font-size: 1em;
    padding: 5px;
    width: 100%;
    margin: 10px;
}
.write-note-ok-button {
    border: 1px solid gainsboro;
    width: auto;
    height: auto;
    padding: 10px;
    text-align: center;
    margin: 10px;
    line-height: 28px;
    position: relative;
    right: 0px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}
.write-note-ok-button:hover {
    background: #89AE4D;
    color: white;
}

.write-note-image-container {
  max-width: 100%;
  background: yellow;
}

img.note-image-container {
  width: 100%;
  height: 100%;
}

.write-note-title {
    font-size: 16px;
    font-weight: 500;
    width: calc(100% - 40px);
    background: #E74549;
    color: white;
    padding: 20px;
    text-align: left;
    max-height: 20px;
}
.capitalize {
    text-transform: capitalize;
}
.write-note-container {
    width: 100%;
    height: 100%;
    position: absolute;
    background: none;
    z-index: 500;
    background: rgba(0, 0, 0, 0.5);
}

.write-note-text-div {
    padding: 10px;
    font-family: 'Open Sans';
    font-size: 17px;
    color: #464646;
    text-align: left;
}

i.fa.fa-user-circle {
    padding-right: 5px;
}
.write-note-user-div {
    padding: 10px;
    color: rgb(68, 68, 68);
    font-size: 15px;
    text-align: left;
    padding-bottom: 0px;
}
i.fa.fa-calendar {
    padding-right: 5px;
}

.min-height-100 {
  min-height: 100px;
}
.bottom-10 {
  bottom: 10px;
}

i.fa.fa-map-marker.big {
    font-size: 31px;
    vertical-align: top;
    padding-top: 12px;
    padding-left: 10px;
    margin-bottom: 13px;
}
input.write-note-address-text {
    height: 2em;
    font-size: 13px;
    min-width: calc(100% - 67px);
    margin: 10px;
    margin-left: 10px;
    padding-top: 5px;
    line-height: 13px;
    color: #525252;
    padding-left: 10px;
    margin-right: 0px;
    position: absolute;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  opacity: 0.8;
  cursor: pointer;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #ffffff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.photo-upload-preview {
    background: red;
    width: 100%;
    height: 200px;
    top: 0px;
    left: 0;
    z-index: 13;
    position: relative;
    opacity: 0;
    cursor: pointer;
}
img.photo-upload-preview-shadow-img {
    position: absolute;
    width: calc(100% - 2px);
    height: 200px;
    background: rgb(249, 249, 249);
    left: 0;
    z-index: 0;
    border: none;
    outline: none;
    background-image: url(https://mittlier.no/stylesheets/upload.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: 50%;
    border: 1px solid white;
}

.fit-image {
    height: 100% !important;
    object-fit: contain !important;
    width: 100% !important;
    background: none !important;
}

/*
img.photo-upload-preview-shadow-img:after {
  content : 'Last opp bilde';
}*/
.preview-label {
  color: blue;
}
.background-none {
  background: none !important;
}
.background-red {
    background: #e74549 !important;
}

button.mapboxgl-popup-close-button {
    font-size: 18px;
    border-radius: 0 10px 0 10px;
    color: #e74549;
    border: 1px solid gainsboro;
    line-height: 17px;
    z-index: 1000;
    cursor: pointer;
    background: white;
    width: auto;
}
button.mapboxgl-popup-close-button:hover {
  background: #e74549;
  color: white;
  border: 1px solid #e74549;
}

.photo-upload-preview:hover + img.photo-upload-preview-shadow-img {
    /*background-blend-mode: difference;*/
    cursor: pointer;
}


img.photo-upload-preview-shadow-img-div {
    position: relative;
    width: calc(100% - 2px);
    height: 200px;
    background: rgb(249, 249, 249);
    left: 0;
    z-index: 0;
    border: none;
    outline: none;
    /*background-image: url(https://mittlier.no/stylesheets/upload.png);*/
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: 50%;
    border: 1px solid white;
}

.progress-bar {
    background: rgb(231, 69, 73);
    width: 0%;
    height: 5px;
    position: relative;
    top: 0;
}
.upload-help-text {
    width: 200px;
    height: 50px;
    position: absolute;
    left: calc(50% - 100px);
    top: 270px;
    text-align: center;
    font-size: 12px;
    color: #929da2;
    z-index: 10;
}

.shadow-button.color-white:hover {
    background: rgba(255, 255, 255, 0.85);
    color: #e74549;
    cursor: pointer;
}

.preview-image-container {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 115px;
    overflow: hidden;
    z-index: 10;
}

.preview-image-container.read-more {
  position: initial;
  border: 1px solid gainsboro;
  width: calc(100% - 2px);
  border: none;
}

/*
        __  .__.__          
 __ ___/  |_|__|  |   ______
|  |  \   __\  |  |  /  ___/
|  |  /|  | |  |  |__\___ \ 
|____/ |__| |__|____/____  >
                         \/ */

.display-none {
  display: none;
}

/*
  __        ___.   .__          
_/  |______ \_ |__ |  |   ____  
\   __\__  \ | __ \|  | _/ __ \ 
 |  |  / __ \| \_\ \  |_\  ___/ 
 |__| (____  /___  /____/\___  >
           \/    \/          \/ 
*/
.table-container {
    padding: 50px;
    top: 100px;
    position: absolute;
    width: calc(100% - 100px);
}
th a {
    color: #000 !important;
}
table#notes-table {
    font-size: 0.9em;
    width: 100%;
}
td {
    padding-left: 5px;
    padding-right: 5px;
}
.map-note-container {
  width: 50%;
  height: 50%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 500;
  border: 4px solid white;
  background: black;
}
.admin-image-preview {
    width: 50%;
    height: auto;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 500;
    border: 4px solid black;
    background: white;
    text-align: center;
    border-radius: 0 10px 0 0;
    max-height: 50%;
    max-width: 50%;
}

.admin-image-preview img {
  max-height: 90%;
  max-width: 90%;
  padding: 10px;
}
#note-preview-marker {
    background-size: 20px 20px !important;
    background-position: 0px 0px !important; 
    background-repeat: no-repeat !important;
    width: 20px;
    height: 20px;
}
.map-note-container-close {
    background: white;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 600;
    padding: 5px;
    margin: 4px;
    font-size: 1.2em;
    font-family: "Open Sans";
    border-radius: 3px;
    cursor: pointer;
}
.map-note-container-close:hover {
  background: #9CD6E5;
}
tr:nth-child(odd) {
    background: #efefef;
}
tr {
  line-height: 2em;
}
thead tr {
  background: white;
}
i.fa.fa-trash-o {
    cursor: pointer;
}
i.fa.fa-trash-o:hover {
    color: red;
}
i.fa.fa-picture-o {
  cursor: pointer;
}
i.fa.fa-picture-o:hover {
  color: #89AE4D;
}
i.fa.fa-globe {
  cursor: pointer;
}
i.fa.fa-globe:hover {
  color: #89AE4D;
}
.dynatable-search {
    margin-bottom: 10px !important;
    margin-right: 30px !important;
    float: none !important;
}


.read-more-container {
  position: fixed;
  width: 50%;
  height: auto;
  background: white;
  top: 20%;
  left: 25%;

}

.like-container {
    margin-left: 10px;
    margin: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.background-toggle-control {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.84);
    color: #e74549;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}
.background-toggle-control:hover {
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.background-toggle-control:active {
    background: rgb(231, 69, 73);
    color: white;
}
.tags-toggle {
  left: 30px !important;
}
.tag-wrapper {
    margin: 50px;
    width: auto;
    top: 75px;
    position: relative;
    z-index: 10;
}
.tag-title {
    float: left;
    padding-right: 10px;
}
input.tag-input {
    float: left;
    width: 300px;
}
.tag-list {
    position: absolute;
    border: 100px;
    background: rgba(255,255,255,1);
    bottom: 0px;
    padding-top: 10px;
    color: rgba(231,69,73,.83);
    line-height: 22px;
    width: 100px;
    text-align: left;
    border-radius: 5px;
    margin-left: 10px;
    bottom: 90px;
    padding-bottom: 10px;
}
.tag-list-item {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.tag-list-item:hover {
    background: rgba(231,69,73,1);
    color: white;
}


.rotate90 {
  transform: rotate(90deg);
}
.rotate180 {
  transform: rotate(180deg);
}
.rotate270 {
  transform: rotate(270deg);
}

.social-media-admin-header {
    position: relative;
    padding: 50px;
}


input.tags-input {
    background: inherit;
    border: 0px;
    font-size: 1em;
    text-align: center;
}



