<!-- admin page -->


<!-- Login -->
<div id="login-container">
    <div class="login-logo"><img src="/stylesheets/login-logo.png"></div>
    <div class="login-page">
        <div class="form">
            <form id="login-form" class="login-form">
                <input id="login-username" type="text" placeholder="Brukernavn"/>
                <input id="login-password" type="password" placeholder="Passord"/>
                <button id="login-button">login</button>
            </form>
        </div>
    </div>
</div>

<!-- App container -->
<div id="app-container" style="display:none">

    <!-- Site logo -->
    <div id="site-logo-admin" style="display:none"><img src="/stylesheets/site-logo-admin.png"></div>

    <!-- Three buttons in a group -->
    <div id="buttons-container">
        <div id="buttons" class="btn-group">
          <div id="button-info"  class="button"></div>
          <div id="button-kart"  class="button"></div>
          <div id="button-media" class="button"></div>
        </div>
    </div>


    <!-- Main window -->
    <div id="content-info"  class="content" style="display:none"></div>
    <div id="content-kart"  class="content" style="display:none"><div id="map"></div></div>
    <div id="content-media" class="content" style="display:none"></div>

    <!-- Site footer -->
    <div id="site-footer" style="display:none"></div>
</div>




<script src="/javascripts/admin-page.js"></script>



<script>
    var app = new L.Admin({
        title : "Lier kommune",
        locale : 'NO'
    });
</script>


