extends layout

block head
    link(rel='stylesheet', href='/stylesheets/jquery.dynatable.css')
    script(src='/javascripts/lib/jquery-3.2.1.slim.min.js')
    script(src='/javascripts/lib/jquery-dynatable/jquery.dynatable.js')
    script(src='/javascripts/admin-page.js')
        
block content
    include admin-page.html

block app
    script.
        var app = new L.Admin({
            title : "Lier kommune",
            locale : 'NO',
            ga : 'UA-84295951-5',
        });