extends layout

block head
    link(rel='stylesheet', href='/stylesheets/jquery.dynatable.css')
        
block content
    include admin-page.html

block app
    script.
        var app = new L.Admin({
            title : "Lier kommune",
            locale : 'NO',
            ga : 'UA-84295951-5',
        });