<!-- frontpage -->

<!-- Three buttons in a group -->
<div id="buttons-container">
    <div id="buttons" class="btn-group">
      <button id="button-info" style="width:33.3%">Info</button>
      <button id="button-kart" style="width:33.3%">Kart</button>
      <button id="button-media" style="width:33.3%">Media</button>
    </div>
</div>


<!-- Main window -->
<div id="content-info"  class="content" style="display:none">INFO</div>
<div id="content-kart"  class="content" style="display:none"><div id="map"></div></div>
<div id="content-media" class="content" style="display:none">MEDIA</div>




<!-- load javascript -->
<script src="/javascripts/front-page.js"></script>


<script>
    var app = new L.App({
        title : "Lier kommune"
    });
</script>











