extends layout

block head
    link(rel='stylesheet', href='https://api.mapbox.com/mapbox-gl-js/v0.36.0/mapbox-gl.css')
    
    script(src='https://api.mapbox.com/mapbox-gl-js/v0.36.0/mapbox-gl.js')
    script(src='/javascripts/lib/bowser.js')
    script(src='/javascripts/lib/instafeed.min.js')
    script(src='/javascripts/lib/mapbox-sdk.js')


    
    script(src='/javascripts/front-page.js')
    script(src='/javascripts/map-content.js')
    script(src='/javascripts/media-content.js')
    script(src='/javascripts/info-content.js')

block content
    include front-page.html

block app
    script.
        var app = new L.App({
            title : "#MittLier",
            locale : 'NO',
            ga : 'UA-84295951-5',
        });
