<!-- frontpage -->

<!-- App container -->
<div id="app-container">

    <!-- Site logo -->
    <div id="site-logo" style="display:none"><img src="/stylesheets/site-logo.png"></div>

    <!-- Three buttons in a group -->
    <div id="buttons-container">
        <div id="buttons" class="btn-group">
          <div id="button-info"  class="button"></div>
          <div id="button-kart"  class="button"></div>
          <div id="button-media" class="button"></div>
        </div>
    </div>


    <!-- Main window -->
    <div id="content-info"  class="content" style="display:none"></div>
    <div id="content-kart"  class="content" style="display:none"><div id="map"></div></div>
    <div id="content-media" class="content" style="display:none"></div>

    <!-- Site footer -->
    <div id="site-footer" style="display:none"></div>
</div>


<!-- load javascript -->
<!-- todo: minify -->
<script src="/javascripts/front-page.js"></script>
<script src="/javascripts/map-content.js"></script>
<script src="/javascripts/media-content.js"></script>
<script src="/javascripts/info-content.js"></script>


<!-- Google Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

</script>

<!-- app -->
<script>
    var app = new L.App({
        title : "#MittLier",
        locale : 'NO',
        ga : 'UA-84295951-5',
    });
</script>










