<!-- App container -->
<div id="app-container">

    <!-- Site logo -->
    <div id="site-logo" style="display:none"><img src="/stylesheets/site-logo.png"></div>

    <!-- Three buttons in a group -->
    <div id="buttons-container">
        <div id="buttons" class="btn-group">
          <div id="button-info"  class="button"></div>
          <div id="button-kart"  class="button"></div>
          <div id="button-media" class="button"></div>
        </div>
    </div>

    <!-- Main window -->
    <div id="content-info"  class="content" style="display:none"></div>
    <div id="content-kart"  class="content" style="display:none"><div id="map"></div></div>
    <div id="content-media" class="content" style="display:none"></div>

    <!-- Site footer -->
    <div id="site-footer" style="display:none"></div>
</div>
