doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/bowser.js')
        script(src='/javascripts/hammer.min.js')
        script(src='/javascripts/hammer-time.min.js')
        script(src='/javascripts/class.js')
        script(src='/javascripts/instafeed.min.js')

    body
        block content