doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        //- javascript
        script(src='/javascripts/bowser.js')
    body
        block content