doctype html
html
    head
        <meta name='viewport' content='width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no' />

        //- both modes
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800')
        link(rel='stylesheet', href='/stylesheets/font-awesome/css/font-awesome.css')

        //- prod mode
        //- link(rel='stylesheet', href='/output.css')
        //- script(src='/output.min.js')  
        //- prod mode end


        //- dev mode
        link(rel='stylesheet', href='stylesheets/mapbox-gl.css')
        link(rel='stylesheet', href='stylesheets/normalize.css')
        link(rel='stylesheet', href='stylesheets/style.css')
        link(rel='stylesheet', href='stylesheets/mobile.css')
        link(rel='stylesheet', href='stylesheets/jquery.dynatable.css')
        link(rel='stylesheet', href='stylesheets/theme.css')
        script(src='javascripts/lib/bowser.js')
        script(src='javascripts/lib/cookies.js')
        script(src='javascripts/lib/exif.js')
        script(src='javascripts/lib/hammer.js')
        script(src='javascripts/lib/hammer-time.js')
        script(src='javascripts/lib/instafeed.js')
        script(src='javascripts/lib/jquery-3.2.1.slim.js')
        script(src='javascripts/lib/jquery.dynatable.js')
        script(src='javascripts/lib/js.cookie.js')
        script(src='javascripts/lib/lodash.js')
        script(src='javascripts/lib/mapbox-sdk.js')
        script(src='javascripts/lib/mapbox-gl.js')
        script(src='javascripts/lib/mobile-detect.js')
        script(src='javascripts/class.js')
        script(src='javascripts/locale.js')
        script(src='javascripts/api.js')
        script(src='javascripts/admin-page.js')
        script(src='javascripts/front-page.js')
        script(src='javascripts/info-content.js')
        script(src='javascripts/map-content.js')
        script(src='javascripts/media-content.js')
        //- dev mode end
    

      

        //- google analytics
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        title= "Mitt Distrikt"

        block head

    body

        block content
        block app

